<div class="navbar-height"></div>
<div class="navbar">
    <div class="contain-burger">
        <div class="burger"></div>
    </div>
    <nav class="nav">
        <img src="../../assets/logotype(1).png" 
        class="pointer"
        alt="Logotype" 
        routerLink="" />
        <a routerLink="" 
        routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact:true}"
        class="navbar-link"> Accueil</a>
        <a href="template.html" class="navbar-link">
            Prochaine Mission
        </a>
    </nav>
</div>
<nav class="vertical-navbar">
    <a routerLink="index-show-planets" routerLinkActive="active" class="nav-vertical-link">
        <span class="fas fa-globe fa-3x"></span>
        <p>Planètes</p>
    </a>
    <a href="molecules.html" routerLink="index-show-vehicles" routerLinkActive="active"class="nav-vertical-link">
        <span class="fas fa-rocket fa-3x"></span>
        <p>Véhicules</p>
    </a>
    <a href="organisms.html" class="nav-vertical-link">
        <span class="fab fa-reddit-alien fa-3x"></span>
        <p>Personnes</p>
    </a>
</nav>
