
<div class="card sticky flex tall">
    <div class="card-header">
      <h2 class="title text-primary">PLANÈTES</h2>
      <div class="form-group">
        <select class="select pr-5">
          <option value="">Par population</option>
          <option value="test">0 à 100.000</option>
          <option value="test">0 à 100.000.000</option>
          <option value="test">+ à 100.000.000</option>
        </select>
      </div>
      <div class="form-group">
        <div class="form-group form-group-search">
          <input type="text" class="form-control searchbar" id="searchbar" placeholder="Faites votre recherche" />
          <span class="fas fa-search icon"></span>
        </div>
      </div>
    </div>

    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Sexe</th>
          </tr>
        </thead>
        <tbody *ngFor="let planet of planets; index as i ">
          <tr *ngFor="let planetInfo of planet; index as n">
            <td>{{ planetInfo.name }}</td>
            <td>{{ planetInfo.terrain }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="medium-information mt-5">
        <span class="info">{{ planets?.count }} resultat(s)</span>
      </div>
    </div>
  </div>